<!DOCTYPE html>
<html>

<head>
    <script>const serverHost = `{{serverHost|safe}}`;</script>
    <title>Debug Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script defer>
        /**
         * @type {WebSocket}
         */
        let ws;
        function connect() {
            ws = new WebSocket(serverHost);
            ws.onclose = function (event) {
                console.error(event);
                log_i("Fehler: Die verbindung wurde geschlossen!");

                //reload button
                var a = document.createElement("a");
                a.innerText = "reconnect";
                a.href = "javascript:reconnect()";
                a.style.color = "white";
                document.querySelector("#consoleList").prepend(a)
            }
            ws.onopen = function (event) {
                ws.send(JSON.stringify({ "type": "typeStatus", "dat": "console", "dat3": document.querySelector("#pass").value }))
            }
            ws.onmessage = function (event) {
                var t = event.data;

                //if (data == '{"type":"wrongPass"}') {
                //    password = await prompt("UNU password falsch!")
                //    setCookie("p", password, 100);
                //    return
                //}
                if (event.data == "") {
                    log_i("null");
                } else {
                    log(event.data);
                }
            }
        }
        function exec(command) {
            if (command == "cls") {
                document.querySelector("#consoleList").innerHTML = "";
                return
            }
            ws.send(JSON.stringify({ "type": "eval", "dat": command }))
        }
        function run() {
            var command = document.querySelector("#command").value;
            for (var x of command.split(";")) {
                exec(x);
            }
        }
        function log(dat) {
            var p = document.createElement("p");
            p.innerText = dat;
            document.querySelector("#consoleList").prepend(p)
        }
        function log_i(dat) {
            var p = document.createElement("p");
            p.innerText = dat;
            p.innerHTML = "<i>" + p.innerHTML + "</i>"
            document.querySelector("#consoleList").prepend(p)
        }
        function reconnect() {
            ws.close();
            connect();
        }

        setInterval(() => {
            if (ws.readyState != ws.OPEN && ws.readyState != ws.CONNECTING) {
                reconnect();
            }
        }, 1000);

        connect();
    </script>
    <style>
        #consoleList {
            background-color: black;
            color: rgb(221, 221, 221);
        }
    </style>
</head>

<body>
    <input id="pass" placeholder="UNU password">
    <p>Commands:</p>
    <ul>
        <li>give &lt;card&gt; &lt;player-Id&gt;</li>
        <li>players</li>
        <li>get &lt;player-Id&gt;</li>
    </ul>
    <input placeholder="command" id="command" style="width: calc(100% - 100px);">
    <button onclick="run()">Run</button>
    <div id="consoleList">
        <p id="out">connecting...</p>
    </div>
</body>

</html>