<!DOCTYPE html>
<html>

<head>
    <script>const serverHost = `{{serverHost}}`;</script>
    <title>Debug Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script defer>
        /**
         * @type {WebSocket}
         */
        let ws;
        function connect() {
            ws = new WebSocket(`ws://${serverHost}:8000/`);
            ws.onclose = function (event) {
                console.error(event);
                log_i("Fehler: Die verbindung wurde geschlossen!");

                //reload button
                var button = document.createElement("button");
                button.innerText = "reconnect";
                button.onclick = reconnect;
                document.querySelector("#consoleList").prepend(button)
            }
            ws.onopen = function (event) {
                ws.send(JSON.stringify({ "type": "typeStatus", "dat": "console" }))
            }
            ws.onmessage = function (event) {
                var t = event.data;
                if (event.data == "") {
                    log_i("null");
                } else {
                    log(event.data);
                }
            }
        }
        function exec(command) {
            if (command == "cls") {
                document.querySelector("#consoleList").innerHTML = "";
                return
            }
            ws.send(JSON.stringify({ "type": "eval", "dat": command }))
        }
        function run() {
            var command = document.querySelector("input").value;
            for (var x of command.split(";")) {
                exec(x);
            }
        }
        function log(dat) {
            var p = document.createElement("p");
            p.innerText = dat;
            document.querySelector("#consoleList").prepend(p)
        }
        function log_i(dat) {
            var p = document.createElement("p");
            p.innerText = dat;
            p.innerHTML = "<i>" + p.innerHTML + "</i>"
            document.querySelector("#consoleList").prepend(p)
        }
        function reconnect() {
            ws.close();
            connect();
        }

        connect();
    </script>
    <style>
        #consoleList {
            background-color: black;
            color: rgb(221, 221, 221);
        }
    </style>
</head>

<body>
    <p>Commands:</p>
    <ul>
        <li>give &lt;card&gt; &lt;player-Id&gt;</li>
        <li>players</li>
        <li>get &lt;player-Id&gt;</li>
    </ul>
    <input placeholder="command" style="width: calc(100% - 100px);">
    <button onclick="run()">Run</button>
    <div id="consoleList">
        <p id="out">connecting...</p>
    </div>
</body>

</html>