<!DOCTYPE html>
<html>

<head>
    <script>const serverHost = `{{serverHost}}`;</script>
    <title>UNU Supreme</title>
    <script>
        window.onerror = function (error, url, line) {
            addMessage("Error:" + error + ' URL:' + url + ' L:' + line);
        };
    </script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script defer src="{{ url_for('static', filename='connection.js') }}?v=2"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="winScreen" class="input">
        <div style="background-color: white; padding: 10px;">
            <p>Du bist <span id="winNum">X</span>ter geworden</p>
            <button onclick='document.querySelector("#winScreen").style.display = "none";'>Ok</button>
        </div>
    </div>
    <div id="colorInput" class="input">
        <div style="background-color: white;padding: 10px;max-height: 100%;overflow-y: auto;">
            <h1>Farbe auswählen</h1>
            <button onclick="selectColor('red')">Rot</button>
            <button onclick="selectColor('green')">Grün</button>
            <button onclick="selectColor('yellow')">Gelb</button>
            <button onclick="selectColor('blue')">Blau</button>
        </div>
    </div>
    <div id="specificSelect" class="input">
        <div style="background-color: white;padding: 10px;max-height: calc(100% - 170px);max-width: calc(100% - 170px);overflow-y: auto;"
            id="specificSelectHolder">
        </div>
        <button id="specificSelectCancel"
            onclick='ws.send(JSON.stringify({ "type": "selectResponse", "dat": "_cancel" }))'>Cancel</button>
    </div>
    <div id="twoxInput" class="input">
        <div style="background-color: white;padding: 10px;max-height: 100%;overflow-y: auto;">
            <div id="twoxinputPositions">

            </div>
            <button id="withdrawTwo" onclick="ws.send(JSON.stringify({'type':'withdraw2x'}))">... Ziehen</button>
        </div>
    </div>
    <div id="preloadIMG" class="input">
        <div style="background-color: white;padding: 10px;max-height: 100%;overflow-y: auto;">
            <p id="preloadIMGText">Preloading Images</p>
            <div class="progress"></div>
            <br>
            <button style="float: right;"
                onclick="document.querySelector('#preloadIMG').style.display='none';">hide</button>
        </div>
    </div>
    <p id="connected_status" style="background-color: red;">Nicht verbunden! <a href="javascript:reconnect()"
            style="color: white;">Neu
            verbinden</a></p>
    <div id="alerts" style="right: 0;position: fixed;max-width: 200px;min-width: 50px;z-index: 999999;"></div>
    <p id="status" style="display: none;">Status: </p>
    <div id="nameInput" style="display: none;">
        <input type="text" id="nameInputInput">
        <button
            onclick='ws.send(JSON.stringify({ "type": "get_name", "dat": document.querySelector("#nameInputInput").value }))'>
            Namen setzen</button>
        <button onclick="wantsType='watcher';reconnect();">Nur zuschauen</button>
    </div>

    <div id="playerList">
        <p>Spielerliste Lädt...<br>Bist du verbunden?</p>
    </div>

    <div style="display:flex;justify-content: space-around;flex-wrap: nowrap;">
        <div style="display: none; height: 142px;" id="drawCard" onclick='ws.send(JSON.stringify({"type":"drawCard"}))'>
        </div>
        <div id="stapel" class="center"></div>
    </div>

    <div id="deck"></div>


    <br>
    <br>
    <br>

    <div id="combinations" style="display: flex;">
    </div>

    <div id="wonPlayersBody" style="display: none;">
        <p>Gewonnene Spieler:</p>
        <ol id="wonPlayers">
        </ol>
    </div>

    <h1 id="lookOnTable" style="display: none;">Hier kannst du zurzeit nichts machen</h1>

    <button
        onclick='async function run(){ws.send(JSON.stringify({"type":"start_game", "dat":await prompt("start-code:")}))} run();'
        id="startGame" style="display: none;">Spiel
        starten</button>
</body>

</html>