<!DOCTYPE html>
<html>

<head>
    <script>const serverHost = `{{serverHost|safe}}`;</script>
    <title>Multiple instances</title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script>
        function make() {
            var c = parseInt(await prompt('anzahl'));
            for (var x = 0; x < c; x++) {
                var d = document.createElement("iframe");

                d.src = "http://localhost/";
                d.style.height = "500px";

                document.querySelector("#all").append(d);
            }
        }
    </script>
</head>

<body>
    <button onclick="make();">Create</button>
    <div id="all">

    </div>
</body>

</html>