<!DOCTYPE html>
<html>

<head>
    <script>const serverHost = `{{serverHost}}`;</script>
    <title>Tisch stuff</title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script defer src="static/tableConnect.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <p id="connected_status" style="background-color: red;">Nicht verbunden!</p>
    <div id="alerts" style="right: 0;position: fixed;max-width: 200px;min-width: 50px;z-index: 999999;"></div>
    <div id="playerList">
    </div>
    <div id="stapel" class="center"></div>

    <div id="wonPlayersBodyHider">
        <div id="wonPlayersBody" style="display: none;">
            <p>Gewonnene Spieler:</p>
            <ol id="wonPlayers">
            </ol>
        </div>
    </div>
</body>

</html>